###
# This file is only here to make sure that something like
#
#    pip install -e .[develop]
#
# works as expected. Requirements can be found in setup.py.
###

-e https://github.com/foosel/pushbullet.py/archive/master.zip#egg=pushbullet.py
.
