<h3>{{ _('Pushbullet Configuration') }}</h3>

<form class="form-horizontal">

    {% trans %}<p>
        In order to use the Pushbullet plugin, you need to configure your Pushbullet
        Access Token below. You can find that in
        <a href="https://www.pushbullet.com/#settings" target="_blank">your Pushbullet account settings</a>.
    </p>{% endtrans %}

    <div class="control-group">
        <label class="control-label">{{ _('Access Token') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.octobullet.access_token">
        </div>
    </div>

    {% trans %}<p>
        You can also define the tag of a channel here to push the messages to instead of your general Pushbullet
        account. You can read more about Pushbullet's channels <a href="https://www.pushbullet.com/channels" target="_blank">on Pushbullet</a>.
    </p>{% endtrans %}

    <div class="control-group">
        <label class="control-label">{{ _('Channel') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.octobullet.push_channel">
        </div>
    </div>
    {% trans %}<p>
        You can define a time interval (in minutes) here for regular update messages as the print progresses. The first message will come at this interval after printing has started. No messages are sent if the estimated time remaining is less than the interval. Be aware of the monthly message limit applied to free PushBullet accounts.
    </p>{% endtrans %}

    <div class="control-group">
        <label class="control-label">{{ _('Update interval') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.octobullet.update_interval">
        </div>
    </div>
    {% trans %}<p>
        Set this to disable periodic updates leaving just the end-of-print message.
    </p>{% endtrans %}

    <div class="control-group">
        <label class="checkbox">
            <div class="controls">
                <input type="checkbox" class="input-block-level" data-bind="checked: settings.settings.plugins.octobullet.periodic_updates_disabled">{{ _('Updates Disabled') }}
	    </label>
        </div>
    </div>

</form>

<button class="btn btn-primary btn-block" data-bind="click: sendTestMessage"><i class="icon-spinner icon-spin" data-bind="visible: busy"></i> {{ _('Send a test message') }}</button>
